@charset "UTF-8";

<style type="text/css">
	.star-box {
		/* 별과 별 사이 공백 제거 */
	    font-size: 0;
	}
	
	.star {
		/* width,height 적용가능하도록 변경 */
		display: inline-block;
	
		/* 별이 표현되는 영역 크기 */
		width: 15px;
	    height: 30px;
	
		/* 투명한 별 표현 */
		background-image: url(/resources/img/grayStar.png);
		background-repeat: no-repeat;
		background-size: 200%;
	}
	
	.star_left {
		/* 왼쪽 별 */
		background-position: 0 0;
	}
	
	.star_right {
		/* 오른쪽 별 */
		background-position: 100% 0;
	}
	
	.on {
		/* 채워진 별로 이미지 변경 */
		background-image: url(/resources/img/pinkStar.png);
	}
	</style>