<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="mobomobo.dao.face.MainDao">

	<select id="selectGroupByStarRatingAvg" resultType="mobomobo.dto.MovieStarRating">
		SELECT * FROM (
 		   	SELECT rownum rnum, M.* FROM(
	        select key, title, image, avg(starrating) as starrating
	        FROM moviestarrating
	        GROUP BY key, title, image
	        ORDER BY starrating DESC
    		) M
		)
		WHERE rnum BETWEEN 1 AND 3
	</select>
	
	<select id="selectMovieStarRatingCount" resultType="int">
		SELECT count(*) FROM moviestarrating
	</select>

</mapper>