<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="mobomobo.dao.face.MovieDao">

	<delete id="deleteStarRating" parameterType="mobomobo.dto.MovieStarRating">
		DELETE FROM moviestarrating
		WHERE 1=1
		AND userno = #{userno}
		AND key = #{key}
	</delete>

	<insert id="insertStarRating" parameterType="mobomobo.dto.MovieStarRating">
		INSERT INTO moviestarrating (key, title, image, userno, age, starrating )
		VALUES (#{key}, #{title}, #{image}, #{userno}, #{age}, #{starRating} )
	</insert>

	<select id="existMovieStarRatingByUserNo" resultType="int" parameterType="mobomobo.dto.MovieStarRating">
		SELECT count(*) FROM moviestarrating
		WHERE 1=1
		AND userno = #{userno}
		AND key = #{key}
	</select>
	
	<select id="selectMovieStarRatingByUserno" resultType="double" parameterType="mobomobo.dto.MovieStarRating">
		SELECT starrating FROM moviestarrating
		WHERE 1=1
		AND userno = #{userno}
		AND key = #{key}
	</select>
	
	<select id="selectStarAvg" resultType="mobomobo.dto.MovieStarRating" parameterType="String">
		SELECT age, avg(starrating) as avg FROM moviestarrating
		WHERE key = #{key}
		GROUP BY age
		ORDER BY age
	</select>
	
	<select id="selectBookMarkByUserNo" resultType="int" parameterType="mobomobo.dto.BookMark">
		SELECT count(*) from bookmark
		WHERE userno = #{userno}
		AND key = #{key}
	</select>
	
	<delete id="deleteBookMark" parameterType="mobomobo.dto.BookMark">
		DELETE FROM bookmark
		WHERE userno = #{userno}
		AND key = #{key}
	</delete>
	
	<insert id="insertBookMark" parameterType="mobomobo.dto.BookMark">
		INSERT INTO bookmark (bookmarkno, userno, category, key)
		VALUES (bookmarkno_seq.nextval, #{userno}, #{category}, #{key})
	</insert>
	
	<select id="selectRecomList" resultType="mobomobo.dto.MovieAward">
		SELECT * FROM (
			SELECT ROWNUM rnum, M.* FROM (
				SELECT * FROM movie
				WHERE division = 'recom'
				ORDER BY movieno DESC
			) M
		)
		WHERE rnum BETWEEN 1 AND 4
	</select>
	
	<select id="selectStarAvgOfSingle" parameterType="string" resultType="string">
		SELECT ROUND(AVG(starrating),1) avg FROM moviestarrating
		WHERE key = #{key}
	</select>

</mapper>