<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="mobomobo.dao.face.MovieDao">

	<insert id="insertStarRating" parameterType="mobomobo.dto.MovieStarRating">
		INSERT INTO moviestarrating (moviecd, title, image, userno, age, starrating )
		VALUES (#{key}, #{title}, #{image}, #{userno}, #{age}, #{starRating} )
	</insert>

</mapper>